.contact {
  display: flex;

  &__link {
    margin-right: 20px;
    height: 150px;
  }

  &__infos {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    max-width: 30vw;
    margin-top: 12px;

    & a {
      opacity: 0.6;
      text-decoration: none;
      color: black;
      transition: all 0.3s;
      position: relative;

      &:after {
        content: "";
        background: rgb(30, 76, 201);
        position: absolute;
        left: 0;
        height: 1px;
        width: 0;
        bottom: -2px;
        transition: all 0.5s ease-out;
      }

      &:hover:after {
        width: 100%;
      }

      &:hover {
        transform: scale(1.03);
        color: rgb(30, 76, 201);
        opacity: 1;
      }
    }
    & a:nth-child(1) {
      margin-bottom: 12px;
    }
  }
}

.middle {
  width: 20vw;
  max-height: 70vh;
  margin-left: 19vw;
  margin-top: 6vh;

  .title {
    font-size: 50px;
    margin-bottom: 8vh;
  }

  li.active:after {
    width: 31vw;
  }

  li {
    font-family: "Work Sans Extra Light", sans-serif;
    font-size: 20px;
    margin-bottom: 5vh;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    transition: transform 1s;

    &:hover {
      transform: scale(1.05);
    }

    &:hover:after {
      width: 37.5vw;
    }
  }
  ul li:after {
    content: "";
    background: rgb(148, 148, 148);
    position: absolute;
    left: 0;
    height: 1px;
    width: 20vw;
    bottom: -4px;
    transition: all 0.5s ease-out;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
    transform: translateY(30px);
  }
}
@keyframes appearDown {
  0% {
    opacity: 0;
    transform: translateY( -350px);
  }
  100% {
    opacity: 100;
    transform: translateY( -300px);
  }
}

.project__date {
  transition: all 1s;
  opacity: 0;
  font-size: 12px;
  animation: appear 1s linear forwards;
}

.project__description {
  transition: all 1s;
  opacity: 0;
  font-size: 16px;
  transform: translate(0, -300px);
  animation: appearDown 1s linear forwards;
  width: 30vw;
  .squares {
    display: flex;

    &__square {
      margin-right: 10px;
      height: 50px;
      width: 50px;
    }
  }
  p {
    margin: 30px 0;
    font-size: 15px;
    width: 24vw;
  }
  .bold {
    font-weight: bold;
  }
}
.middle.large {
  width: 35vw;
}
.active.highlighted:hover {
  transform: scale(1);
  cursor: default;
}

.back {
  cursor: pointer;
  width: 10vw;
  margin-left: 5vw;
  position: absolute;
  bottom: 5vh;
  left: 5vh;
}

@media (max-height: 730px) {
  .infos {
    font-size: 16px;
  }
  .middle {
    margin-left: 20vh;
    margin-top: 3vh;
    li {
      font-size: 16px;
      margin-bottom: 3vh;
    }
  }
}
@media (max-width: 800px) {
  body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 35px;
      margin-bottom: 4vh;
    }
    .instruction {
      font-size: 18px;
      margin-bottom: 4vh;
    }
    .qrcode {
      height: 50vw;
    }
    .phone {
      margin-top: 4vh;
      text-decoration: none;
      color: rgb(68, 68, 68);
    }
    .email {
      margin-top: 4vh;
      text-decoration: none;
      color: rgb(68, 68, 68);
    }
  }
}
