.right {
    height: 100vh;
    img:not(.arrow) {
        width: 50vw;
        display: block;
    }
    .gallery {
        display: none;
    }
    .arrow {
        position: fixed;
        bottom: 3vh;
        transform: scale(.7);
        z-index: 1;
    }
}

.right.gallery {
    .background {
        display: none;
    }
    .gallery {
        display: block;
    }
}